/* Footer */
.footer {
    background: var(--body);
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: var(--heaven);
    border-top: .3px solid var(--comment);
    z-index: 300;
}

.footer .footer_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer .footer_content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    letter-spacing: 2px;
    color: var(--purple);
}

.footer .footer_content p {
    max-width: 40ch;
    color: var(--comment);
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.footer .footer_content .solink {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.footer .footer_content .solink li {
    margin: 0 10px;
}

.footer .footer_content .solink a {
    text-decoration: none;
    color: var(--heaven);
    transition: all .5s ease;
}

.footer .footer_content .solink a i {
    font-size: 1.2rem;
}

.footer .footer_content .solink a:hover i {
    color: var(--purple);
}

.footer .footer_bottom {
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}