@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400&family=Roboto+Mono:wght@300;400;500;600;700&family=Source+Code+Pro:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --Hovertext: "Home";
}

* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Source Code Pro', monospace;
}


@layer base {
    body {
        @apply bg-gradient-to-br from-gray-900 to-slate-900 dark:from-slate-200 dark:to-gray-400;
    }
}

.layout {
    width: calc(100% - 64px);
    height: 100vh;
}

@media (max-width: 768px) {
    .layout {
        width: 100%;
        height: calc(100vh - 64px);
    }
}

@layer components {
    .hero {
        @apply flex flex-col justify-center items-start w-[90%] md:w-[70%] lg:w-[60%] mx-auto min-h-screen gap-y-5
    }

    .text-grad {
        @apply relative text-transparent bg-clip-text bg-gradient-to-r from-purple-500 to-purple-800
    }

    .btn {
        @apply bg-transparent rounded-full w-fit text-lg flex gap-x-2 justify-center items-center text-blue-400 border border-blue-400 py-2 px-5 transition-all duration-500 cursor-pointer hover:bg-blue-400 hover:text-gray-900 ease-out;
    }
}


/* Custom Scroll Bar */
::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar-track {
    width: 10px;
    background: white;
    border-left: .3px solid gray;
    border-right: .3px solid gray;
}

::-webkit-scrollbar-thumb {
    background: rgb(147 51 234);
    width: 0;
    height: 35%;
    transition: 0.5s ease;
    cursor: pointer;
}