section.home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 70px);
    margin-top: 70px;
}

section.home .intro {
    display: flex;
    padding: 40px;
    flex-direction: column;
    overflow: hidden;
}

section.home .intro h1 {
    font-size: 60px;
    color: var(--purple);
    letter-spacing: 2px;
    margin-bottom: 20px;
    position: relative;
}

section.home .intro h3 {
    font-size: 22px;
    color: var(--heaven);
    margin-bottom: 10px;
}

section.home .intro p {
    color: var(--comment);
    line-height: 1.5;
    margin-bottom: 10px;
    max-width: 50ch;
}

section.home .intro .resume_btn {
    width: fit-content;
    padding: 10px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--heaven);
    background: transparent;
    outline: none;
    margin-top: 20px;
    border: 2px solid var(--heaven);
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease-in;
}

section.home .intro .resume_btn:hover {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

@media (max-width: 630px) {

    section.home .intro h1 {
        font-size: 30px;
    }

    section.home .intro h3 {
        font-size: 20px;
    }

}

@media (max-width: 380px) {

    section.home .intro h1 {
        font-size: 23px;
    }

    section.home .intro h3 {
        font-size: 18px;
    }

}