/* Navigation */
header.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: var(--body);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    z-index: 210;
}

header.navigation .nav_logo {
    font-size: 20px;
    color: var(--heaven);
    text-align: center;
    line-height: 70px;
    cursor: pointer;
}

header.navigation .nav_list ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    font-size: 18px;
    transition: all .3s ease;
    color: var(--purple);
    cursor: pointer;
}

header.navigation .nav_list ul li.active,
header.navigation .nav_list ul li:hover {
    color: var(--heaven);
}


#toogle {
    position: fixed;
    top: 20px;
    left: 20px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: var(--heaven);
    display: none;
    cursor: pointer;
}

#toogle.active {
    top: 20px;
    right: 20px;
    height: 0px;
    width: 0px;
}

#toogle::after {
    content: '';
    position: absolute;
    top: -8px;
    left: 0;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: var(--heaven);
}

#toogle.active::after {
    height: 2px;
    width: 28px;
    transform: rotate(-45deg);
    top: 0;
}

#toogle::before {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: var(--heaven);
}

#toogle.active::before {
    height: 2px;
    width: 28px;
    transform: rotate(45deg);
    bottom: -2px;
}

.mob-nav {
    position: fixed;
    left: 20px;
    top: 45px;
    background-color: var(--body);
    padding: 15px;
    font-size: 18px;
    display: none;
    z-index: 1000;
    box-shadow: 10px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 5px 5px 0px rgba(0, 0, 0, 0.75);
}



@media (max-width: 700px) {

    header.navigation {
        display: none;
    }

    #toogle {
        display: block;
    }

    .mob-nav.active {
        display: block;
    }

    .mob-nav ul li {
        margin: 10px 0;
    }

    .mob-nav ul li a {
        color: var(--purple);
        margin: 10px 0;
    }

    .mob-nav ul li.active a {
        color: var(--heaven);
    }

}