section.services .service_container {
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-bottom: 30px;
}

section.services .service_container .service_box {
    height: 300px;
    width: 300px;
    border: 2px solid var(--heaven);
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px;
}

section.services .service_container .service_box .icon {
    width: 80px;
    height: 80px;
}

section.services .service_container .service_box .icon img {
    width: 80px;
    height: 80px;
}

section.services .service_container .service_box h3 {
    margin: 10px 0;
    color: var(--heaven);
}

section.services .service_container .service_box p {
    color: var(--comment);
}

@media (max-width: 1020px) {

    section.services .service_container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 680px) {

    section.services .service_container {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media (max-width: 360px) {

    section.services .service_container {
        grid-template-columns: repeat(1, 1fr);
    }

    section.services .service_container .service_box {
        width: 250px;
        height: fit-content;
    }

}